<!DOCTYPE html>
<html lang="en">
<head>
  <title>Protein Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container mt-4">
    <div *ngIf="protein; else loading" class="row">
      <div class="col-md-8">
        <h2>Protein Details</h2>
        <mat-tab-group>
          <mat-tab label="Entry">
            <div class="tab-content">
              <table class="table table-striped table-bordered table-dark" *ngIf="!isEditing">
                <tbody>
                  <tr>
                    <th scope="row">UniParc ID</th>
                    <td>
                      <a [href]="'https://www.uniprot.org/uniparc/' + protein.uniParcId" target="_blank">
                        {{ protein.uniParcId }}
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Sequence</th>
                    <td>{{ protein.sequence.value }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Sequence Length</th>
                    <td>{{ protein.sequence.length }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Molecular Weight</th>
                    <td>{{ protein.sequence.molWeight }}</td>
                  </tr>
                  <tr>
                    <th scope="row">CRC64</th>
                    <td>{{ protein.sequence.crc64 }}</td>
                  </tr>
                  <tr>
                    <th scope="row">MD5</th>
                    <td>{{ protein.sequence.md5 }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Protein Name</th>
                    <td>{{ protein.uniParcCrossReferences[0].proteinName }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Organism</th>
                    <td>{{ protein.uniParcCrossReferences[0].organism.scientificName }}</td>
                  </tr>
                </tbody>
              </table>
              <form *ngIf="isEditing" (ngSubmit)="onSubmit()">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" (click)="cancelEditing()">Cancel</button>
              </form>
            </div>
          </mat-tab>
          <mat-tab label="Features">
            <div class="tab-content">
              <table class="table table-striped table-bordered table-dark">
                <thead class="thead-dark">
                  <tr>
                    <th>InterPro Group</th>
                    <th>Position(s)</th>
                    <th>Database identifier</th>
                    <th>Database</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let feature of protein.sequenceFeatures">
                    <td>{{ feature.interproGroup.name }}</td>
                    <td>
                      <span *ngFor="let loc of feature.locations">{{ loc.start }}-{{ loc.end }}<br /></span>
                    </td>
                    <td>{{ feature.databaseId }}</td>
                    <td>{{ feature.database }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      <!-- Add header and viewer container aligned with the table -->
      <div class="viewer-container col-md-4">
        <h2>Predicted 3D Model</h2>
        <div id='pdbViewer' class="viewer"></div>
      </div>
    </div>

    <ng-template #loading>
      <div class="container mt-4">
        <p>Loading...</p>
      </div>
    </ng-template>
  </div>
</body>
</html>
